.DS_Store

*.pyc

tmp/preference.html

.idea/*
tool/chromeClients/TypeScriptClient/compileLog.log

tool/chromeClients/ScalaClient/sc.log

tool/chromeClients/TypeScriptClient/images/.gradle/*

tool/chromeClients/mrubyClient/log.log
